<div class="container">
  <div class="abouts bg-gray">
    <h4 class="text-center">开放平台合作协议</h4> <br>

    <p class="topic-info">
      本协议是北京全星时空科技有限公司（以下简称Owhat）与Owhat服务平台合作伙伴(以下简称“合作运营方”或“您”)就开放平台的使用等相关事项所订立的有效合约。合作运营方通过网络页面点击确认或以其他方式选择接受本协议，即表示合作运营方与Owhat已达成协议并同意接受本协议的全部约定内容。
    </p>
    <p class="topic-info">
      在接受本协议之前，请您仔细阅读本协议的全部内容（特别是以粗体下划线标注的内容）。如果您对本协议的条款有疑问的，请通过Owhat客服渠道进行询问，Owhat将向您解释条款内容。如果您不同意本协议的任意内容，或者无法准确理解Owhat对条款的解释，请不要进行后续操作。
    </p>
    <h5>一、 定义</h5>
    <p class="topic-info">
      1.1开放平台：指Owhat所提供的网站和APP销售平台，包括一些软件和支持材料，合作运营方通过平台进行产品销售及会员管理。合作运营方可以通过开放平台自助发布产品信息、获取用户授权或填写的相关数据信息。<br>
      1.2Owhat用户（以下简称为“用户”）：指Owhat用户中所有直接或间接对合作运营方基于开放平台发布的产品信息进行交易的单位或者个人，以及浏览合作运营方相关信息的网络访客。<br>
      1.3合作运营方：指Owhat会员中通过有效申请并通过认证的可以基于开放平台发布收款活动的单位或者个人。 
    </p>

    <h5>二、Owhat服务内容</h5>
    <p class="topic-info">
      2.1 Owhat为合作运营方提供用户互动的相关网络环境和技术支持。<br>
      &nbsp; &nbsp;&nbsp;&nbsp;1）第三方通知Owhat，认为某个合作运营方或具体应用事项可能存在重大问题；<br>
      &nbsp; &nbsp;&nbsp;&nbsp;2）用户或第三方向Owhat告知开放平台上有违法或不当行为，例如合作运营方非法获取用户隐私信息等。<br>
      2.3 对于合作运营方在Owhat开放平台上发布的下列信息，Owhat有权在不通知合作运营方的前提下进行删除或采取其它限制性措施，包括但不限于涉嫌违法、侵犯第三人合法权益、违反社会主义精神文明，或Owhat认为不妥当的信息。<br>
      2.4 Owhat根据其判断认为合作运营方网络账户存在异常活动的，Owhat可以单方暂停该等账户的使用。服务违反本协议约定的，Owhat可以单方暂停或终止合作运营方使用服务和相关账户。
    </p>
    <h5>
      三、合作运营方承诺和服务使用规范
    </h5>
    <p class="topic-info">
      3.1 合作运营方承诺同时遵守 <span class="text-highlight-r">《Owhat用户协议》</span>。<br>
      3.2合作运营方声明并保证其在开放平台开发、发布的应用符合如下要求：<br>
      &nbsp; &nbsp;&nbsp;&nbsp;1）真实、合法、准确、完整，不会有任何淫秽、色情、不道德、欺诈、诽谤（包括商业诽谤）、非法恐吓或非法骚扰的内容；<br>
      &nbsp; &nbsp;&nbsp;&nbsp;2）不会侵犯任何第三方享有的合法权利或权益，包括但不限于第三方知识产权等；<br>
      &nbsp; &nbsp;&nbsp;&nbsp;3）不会违反任何法律、法规、条例或规章 (包括但不限于关于规范互联网站、互联网信息、不正当竞争的法律、法规、条例或规章)；<br>
      &nbsp; &nbsp;&nbsp;&nbsp;4）不会直接或间接与下述各项内容链接：(i) 任何法律、法规、条例或规章所禁止的商品或服务；或 (ii) 无权链接或包含的商品或服务。&nbsp;<br>
      3.4 合作运营方同意开放平台运营数据（包括但不限于用户针对合作运营方应用的使用数据）的全部权利均归属Owhat。<br>
      3.5 合作运营方同意接收来自Owhat及其合作伙伴发出的邮件、信息。<br>
      3.6合作运营方一旦在开放平台申请成功，合作运营方将得到验证显示。<br>
      3.8合作运营方明确理解并同意，如因其违反有关法律或者本协议之规定，使Owhat遭受任何损失，受到任何第三方的索赔，或任何行政管理部门的处罚，合作运营方应对Owhat进行赔偿，包括合理的律师费用。
    </p>

    <h5>四、 在线交易和结算</h5>
    <p class="topic-info">
      4.1 合作运营方收费活动与用户订购 ：<br>
      &nbsp; &nbsp;&nbsp;&nbsp;1）开放平台上线后，合作运营方基于开放平台开发的应用可以在Owhat提供的服务交易平台接受用户订购，并依照合作运营方的商品标价收取用户费用；用户可以在Owhat提供的服务交易平台订购合作运营方提供的商品并向合作运营方支付服务费用。<br>
      &nbsp; &nbsp;&nbsp;&nbsp;2）合作运营方通过Owhat提供的服务交易平台（包括但不限于 <span class="text-highlight-r">www.owhat.cn</span>\owhat APP平台），需遵照Owhat制定的相关流程和另行签署有关协议。<br>
      &nbsp; &nbsp;&nbsp;&nbsp;3）退款：用户在支付服务费用后如果是非主办方因素所致（包括但不限于活动取消等），Owhat平台与合作运营方不提供退款服务。如因主办方因素导致用户要求退款的，用户可与合作运营方自行协商，合作运营方应当依照与用户的协商方案安排退款或委托Owhat退款。<br>
      &nbsp; &nbsp;&nbsp;&nbsp;4）由于合作运营方违反本协议约定或Owhat平台规则，Owhat有权从Owhat平台撤销合作运营方提供的应用或限制其功能，此时将造成用户购买的活动无法正常提供服务。该等情况的发生属于合作运营方过错或过失，相关责任应由合作运营方独立承担。<br>
      &nbsp; &nbsp;&nbsp;&nbsp;5）用户使用合作运营方提供的服务（包括免费和收费服务）发生的任何纠纷应由用户和合作运营方自行协商解决，Owhat不承担任何责任。Owhat在用户与合作运营方产生纠纷时将努力进行协调，合作运营方也应秉承为用户提供优质服务的理念为用户提供便利，但Owhat并不保证协调取得实际效果。 <br>
      4.2 合作运营方收费活动的结算 ： <br>
      &nbsp; &nbsp;&nbsp;&nbsp;1）合作运营方基于开放平台可以在Owhat提供的服务交易平台接受用户订购，并依照合作运营方的商品标价收取用户费用；用户可以在Owhat提供的服务交易平台订购合作运营方提供的商品并向合作运营方支付服务费用。&nbsp;具体的结算方式及佣金收取方式另行签署相应商务协议。
    </p>

    <h5>五、 服务的终止</h5>
    <p class="topic-info">
      5.1在合作运营方违反本协议相关约定时，Owhat有权终止向该合作运营方提供服务。如该合作运营方再一次直接或间接或以他人名义注册并登录Owhat开放平台的，Owhat有权直接单方面终止向该合作运营方提供服务。 <br>
      5.2 如Owhat通过合作运营方提供的信息与合作运营方联系时，发现合作运营方在注册时填写的手机或电子邮箱已不存在或无法接收信息的，经Owhat以其它联系方式通知合作运营方更改，而合作运营方在三个工作日内仍未能提供新的联系方式的，Owhat有权终止向该合作运营方提供服务。
      5.3 Owhat发现合作运营方提供的数据或信息中含有虚假内容的，Owhat有权随时终止向该合作运营方户提供服务。 <br>
      5.4 Owhat可自行全权决定，随时向合作运营方或用户终止提供服务或服务任何部分 ，届时Owhat将通过网页通告或其他合理方式告知合作运营方和用户。 <br>
    </p>
    <h5>六、 服务终止后的处理</h5>
    <p class="topic-info">
      6.1 服务终止后，Owhat没有义务为合作运营方保留原账户中或与之相关的任何信息，或转发任何未曾阅读或发送的信息给合作运营方或用户或第三方，亦不就终止服务而对合作运营方或用户或任何第三方承担任何责任。 <br>
      6.2 不论Owhat与合作运营方之间的服务因任何原因以任何方式终止，Owhat仍有权： <br>
      &nbsp; &nbsp;&nbsp;&nbsp;1）保存或不保存该合作运营方的数据及以前的交易行为记录；　 <br>
      &nbsp; &nbsp;&nbsp;&nbsp;2）对于合作运营方在服务终止前实施的违法或违约行为所导致的任何赔偿和责任， 合作运营方必须完全独立地承担，Owhat有追索权。 <br>
      6.3 对于服务终止之前合作运营方交易行为依下列原则处理： <br>
      &nbsp; &nbsp;&nbsp;&nbsp;1）服务终止之前，合作运营方和用户的交易应用尚未交易或尚未交易完成的，Owhat有权在中断、终止服务的同时删除此项交易信息； <br>
      &nbsp; &nbsp;&nbsp;&nbsp;2）服务终止之前，合作运营方和用户就具体交易达成一致，Owhat有权选择是否删除该项交易，并有权将终止服务的情况通知合作运营方或用户的交易对方。
    </p>
    <h5>七、责任限制和免责</h5>
    <p class="topic-info">
      7.1对于合作方发布的所有内容，合作运营方同意独立承担所有的风险和后果。Owhat没有责任和义务对于发布在Owhat开发平台上的任何不准确或不正确的内容承担任何责任，无论该等不准确是由用户所造成的，还是由于应用所使用的或与应用相连接的任何设备或程序所造成的。 <br>
      7.2Owhat开放平台仅作为合作运营方和用户互动交易的平台工具。本协议的签署并不意味着Owhat成为用户在Owhat开放平台上与合作运营方所进行交易的参与者，对前述交易Owhat仅提供技术服务，不对合作运营方和用户行为的合法性、有效性及应用的真实性、合法性和有效性作任何明示和默示的担保。　 <br>
      7.3在任何情况下，Owhat均不对任何间接性、后果性、惩戒性、偶然性、特殊性或刑罚性的损害，包括合作运营方使用开放平台而遭受的利润损失，承担责任（即使Owhat已被告知该等损失的可能性）。
    </p>
    <h5>八、 知识产权</h5>
    <p class="topic-info">
      8.1 Owhat开放平台上所有内容，包括但不限于著作、图片、档案、资讯、资料、画面的安排、网页设计等，均由Owhat或其他权利人依法拥有其知识产权，包括但不限于商标权、专利权、著作权、商业秘密等。非经Owhat或其他权利人书面同意任何人不得擅自使用、修改、复制、公开传播、改变、散布、发行或公开发表Owhat网站程序或内容。 <br>
      8.2 Owhat开放平台运营数据的全部权利，均归属Owhat。前述运营数据包括但不限于任何用户注册信息、用户针对合作运营方应用的使用数据等。运营合作方可共享自发交易的相关数据。　　　
    </p>
    <h5>九、 通知和送达</h5>
    <p class="topic-info">
      9.1 Owhat对于合作运营方所有的通知均可通过网页公告、电子邮件、手机短信或常规的信件传送等方式进行；该等通知于发送之日视为已送达收件人。　　　 <br>
      9.2 合作运营方对于Owhat的通知应当通过Owhat对外正式公布的通信地址、传真号码、电子邮件地址等联系信息进行送达。　　　
    </p>
    <h5>十、 其他约定</h5>
    <p class="topic-info">
      10.1本协议之解释与适用，以及与本协议有关的争议，均应依照中华人民共和国法律予以处理，并以北京市朝阳区人民法院为第一审管辖法院。　 <br>
      10.2 本协议项下的互联网信息服务和Owhat网站空间由北京全星时空科技有限公司（以下简称“全星时空t”）提供，全星时空为Owhat网站及APP提供相关技术支持和服务。 <br>
      10.3 在提及知识产权时，“Owhat”同时包括了Owhat网站和Owhat APP及关联产品。 <br>
      10.4本协议内容包括协议正文及所有Owhat已经发布的或将来可能发布的服务使用规则。所有规则为本协议不可分割的一部分，与协议正文具有相同法律效力。 <br>
      10.5Owhat有权不时修改本协议和相关规则的内容，修改后的内容将公布于Owhat网网站上或以其他方式通知合作运营方。合作运营方如继续使用Owhat服务的，则视为合作运营方对修改后的内容不持异议并同意遵守。如合作运营方对修改存有异议，或者合作运营方不同意Owhat公布的规则的，合作运营方有权选择终止本协议。 <br>
      10.6本协议生效后，合作运营方与Owhat先前就开放平台合作达成的相关协议在本协议生效之日终止，但该等协议终止前已经产生的权利义务仍然有效。
    </p>
  </div>
</div>
