<!-- 玩转Owhat -->
<div class="container obi">
  <div class="row row-10">
    <div class="col-sm-3">
      <%= render "home/users/panel" %>
    </div>
    <div class="col-sm-9">
      <div class="head-highline">
        <span class="item active">什么是O元</span>
      </div>
      <ul class="list-unstyled wan-list block-area">
        <li class="item">O!元 是由 Owhat 在3.0版本上推出的一种虚拟货币</li>
        <li class="item">用户使用 Owhat 网站、Owhat APP时, 在登录状态下完成了任务均可以获得一定数额的 O!元</li>
        <li class="item"> O!元 仅可在 Owhat 平台上使用，不能抵现金；如果用户因违规使用 Owhat 而造成的帐户冻结，则 Owhat 将取消该帐户内 O!元 相关的使用权益</li>
      </ul>
      <div class="head-highline">
        <span class="item active">O!元 的用途</span>
      </div>
      <ul class="list-unstyled wan-list block-area">
        <li class="item">可以参加免费活动</li>
        <li class="item">可以拆开明星们所发出的福利袋</li>
      </ul>
      <div class="head-highline">
        <span class="item active">怎么获得 O!元</span>
      </div>
      <ul class="list-unstyled wan-list block-area">
        <li class="item">评论/回复评论</li>
        <li class="item">被别人点赞</li>
        <li class="item">个人主页/里程碑被分享</li>
        <li class="item">分享</li>
        <li class="item">参与话题任务</li>
        <li class="item">参与登录</li>
        <li class="item">参与活动任务/商品任务</li>
        <li class="item">参与应援任务</li>
        <li class="item">参与O妹精选任务</li>
      </ul>
    </div>
  </div>
</div>
