<div class="footer text-center">
  <div class="container">
    <a href="/home/abouts/about">关于我们</a> &nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="/home/abouts/about#abouts-join">加入我们</a> &nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="/home/abouts/about#abouts-contact">联系我们</a> &nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="/home/abouts/rules">服务条款</a> &nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="/home/abouts/agreements">开放平台</a> &nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="http://o.owhat.cn" target="_blank">旧版Owhat</a>&nbsp;&nbsp;|&nbsp;&nbsp;
    <!-- <a href="/home/abouts/agreements">意见反馈</a> &nbsp;&nbsp;&nbsp;&nbsp; -->
    <span>©Owhat 2016 京ICP备14034988号-1</span>
  </div>
</div>
