<label class="checkbox-stars">
  <input type="checkbox" value="<%= user.id %>" data-role='user' class="set-stars js-follow">
  <button type="button" class="btn btn-sm btn-default btn-rounded-x">
    关注&nbsp;&nbsp;
  </button>
</label>
