<div class="container">
  <%= render "/shop/shared/paid_ranking", users: @users.map{|expen| [expen.created_at.strftime('%Y-%m-%d'), expen.user]}, url: "/welfare/products/#{@task.id}/more_users", kind: 'welfare' %>
  <div class="text-center">
    <%= will_paginate(@users) %>
  </div>
</div>
