<div class="container" style="max-width: 700px;">
  <ol class="breadcrumb">
    <li><a href="<%= identity_home_users_path %>">个人中心</a></li>
    <li class="active">身份认证</li>
  </ol>
  <!-- 提交成功显示 -->
  <div class="block-area">
    <br>
    <div class="text-center">
      <%= image_tag "home/identity-success.png" %>
    </div>
    <br>
    <p class="lead block-area">
      我们已经收到了您的申请，将于一个工作日内处理完毕，请您耐心等待，如有问题请致电：400-8980812，或者加工作人员QQ:2964900484
    </p>
    <div class="text-center">
      <a href="/" class="btn btn-highlight-outline" style="width: 300px;">返回首页</a>
    </div>
    <br>
  </div>

  <!-- 提交失败时显示 -->
  <div class="block-area">
    <br>
    <div class="text-center">
      <%= image_tag "home/null-content.png" %>
    </div>
    <br>
    <p class="lead block-area">
      您的信息可能由于网络等原因未能提交成功，请重新提交～
    </p>
  </div>
</div>
