<!-- 修改密码 -->
<div class="container password-edit">
  <div class="row row-10">
    <div class="col-sm-3">
      <%= render "home/users/panel" %>
    </div>
    <div class="col-sm-9">
      <form action="<%= update_password_account_path(@current_account) %>" method="post" class="form-horizontal block-area">
        <input type="hidden" name="_method" value="put" />
        <div class="form-group">
          <label for="password" class="col-sm-3 control-label">当前密码</label>

          <div class="col-sm-5">
            <input type="password" class="form-control js-nowPass js_pass_val" id="password" name="account[old_password]" placeholder="当前密码">
          </div>
        </div>
        <div class="form-group">
          <label for="new_password" class="col-sm-3 control-label">新密码</label>
          <div class="col-sm-5">
            <input type="password" class="form-control js-newPass js_pass_val" id="new_password" name='account[password]' placeholder="新密码" onpaste="return false;">
          </div>
        </div>
        <div class="form-group">
          <label for="re_password" class="col-sm-3 control-label">确认新密码</label>
          <div class="col-sm-5">
            <input type="password" class="form-control js-confirNewPass js_pass_val" id="re_password" name='account[re_password]' placeholder="确认新密码" onpaste="return false;">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-10">
            <a href="javascript:;" class="btn btn-highlight-outline space-lg-hor js-saveNewPass">保存</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<% content_for :tail do %>
  <script type="text/javascript">
  $('.js-saveNewPass').click(function(){
    var oNowPass = $('.js-nowPass').val();
    var oNewPass = $('.js-newPass').val();
    var oConfirPass = $('.js-confirNewPass').val();
    var bConfirm = true;
    if (oNowPass.length < 6){
      bConfirm = false;
      alert('当前密码错误');
    }else if(oNewPass.length <6){
      bConfirm = false;
      alert('密码不小于六位');
    }else if(oNewPass != oConfirPass){
      bConfirm = false;
      alert('两次密码不一致');
    }
    // else if(/\s+/g.test(oNewPass)){
    //   bConfirm = false;
    //   alert('密码中有空格等特殊字符,请重试');
    // }
    if(bConfirm){
      $.ajax({
        url:'/accounts/'+<%= @current_account.id %>+'/update_password.json',
        type:'PUT',
        data:{
          'account[old_password]': $('.js-nowPass').val(),
          'account[password]':$('.js-newPass').val(),
          'account[re_password]':$('.js-confirNewPass').val()
        },
        success:function(msg){
          if(msg.success == true){
            window.location.href = '/sessions/new';
          }else{
            alert(msg.error);
          }
        },
        error:function(msg){
          alert('服务器正忙,请稍后重试');
        }
      });
    }
    // return false;
  });
  </script>
<% end %>
