<div class="container">
  <div class="">
    <h3>已发送邮件到<span class="text-highlight-r">axxxxxxq@owhat.cn</span></h3>
    <p class="text-gray">请你登陆次邮箱后，点击右键中的确认链接完成注册</p>
  </div>
  <div class="">
    <h3>没有收到邮件？</h3>
    <p class="text-gray">请检查你的垃圾箱或广告箱，邮件有可能被误认为垃圾或广告邮件；或选择<a href="">重新验证邮件</a></p>
  </div>
</div>
