<!-- 忘记密码 -->
<div class="container">
  <div class="tag-box" id="mobile-reset">
    <%= form_for :account, url: update_password_account_path(@account), html: { method: :put, class: 'form-horizontal validate-form-forgot' } do |f| %>
      <div class="form-group">
        <label for="password" class="col-sm-2 control-label"><abbr title="必须">*</abbr>验证码</label>
        <div class="col-md-3">
          <input type="text" name='account[captcha]' class="form-control js-Forgetcaptcha required" placeholder='请输入您收到的验证码'>
        </div>
      </div>

      <div class="form-group">
        <label for="password" class="col-sm-2 control-label"><abbr title="必须">*</abbr>新密码</label>
        <div class="col-md-6">
          <input type="password" value="" class="form-control js-changeForgetPass required" minlength="6" name="account[password]" placeholder="密码不得少于6位" onpaste="return false;">
        </div>
      </div>
      <div class="form-group">
        <label for="password_confirmation" class="col-sm-2 control-label"><abbr title="必须">*</abbr>确认密码</label>
        <div class="col-md-6">
          <input type="password" value="" class="form-control js-confirmForgetPass required" minlength="6" name="account[password_confirmation]" placeholder="密码不得少于6位" onpaste="return false;">
        </div>
      </div>

      <div class="form-group">
        <hr>
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-danger js_new_password">保存</button>
        </div>
      </div>
    <% end %>
  </div>
</div>
<% content_for :tail do %>
  <script type="text/javascript">
    $('.js_new_password').click(function(){
      if($('.js-confirmForgetPass').val()!=$('.js-changeForgetPass').val()){
        alert('两次密码不一致,请重试');
        event.preventDefault();
      }
      // else if(/\s+/g.test($('.js-changeForgetPass').val())){
      //   alert('密码中有空格等特殊字符,请重试');
      //   event.preventDefault();
      // }
      else{
        $(".validate-form-forgot").validate({
          errorPlacement: function(error, element) {
            // Append error within linked label
            $( element )
              .closest( "form" )
                .find( "label[for='" + element.attr( "id" ) + "']" )
                  .next('div').append( error );
          },
          submitHandler: function(form) {
            $.ajax({
              url:'/accounts/'+<%= @account.id %>+'/update_password.json',
              type:'PUT',
              data:{
                'account[captcha]':$('.js-Forgetcaptcha').val(),
                'account[password]':$('.js-changeForgetPass').val()
              },
              success:function(msg){
                if(msg.success == true){
                  alert('修改成功, 请重新登录');
                  window.location.href = '/';
                }else{
                  alert('请检查你的验证码或密码');
                }
              }
            });
          }
        });
      }
    });
  </script>
<% end %>
