<% field_class = {class: 'form-control js-isFree'}.merge!(f.options[:options_class]) %>
<% if options.present? %>
  <% field_class.merge(options) %>
<% end %>
<fieldset class="form-group row">
  <%= f.label field, class: 'col-md-1 control-label' do -%>
    <%= raw('<sup>*</sup>') if defined?(required) && required %>
    <%= model.human_attribute_name(field) %>
  <% end -%>

  <div class="col-md-11">
    <% field_class.merge!(required: true) if defined?(required) && required %>
    <%= f.check_box field, field_class %>
  </div>
</fieldset>
