<% html_class = {class: 'form-control'}.merge!(f.options[:options_class]) %>

<% [:created_at, :updated_at].each do |field| %>
  <fieldset>
    <div class="form-group">
      <%= f.label field, {class: 'col-md-1 control-label'} %>

      <div class="col-md-11">
        <%= f.text_field field, html_class.merge(value: f.object.send(field).to_s(:db)) %>
      </div>
    </div>
  </fieldset>
<% end %>
