// alert_animate
.alert{
  color: #fff;
  padding: 18px;
  min-width: 300px;
  text-align: center;
  border-radius: 0 0 4px 4px;
  position: absolute;
  top: 60px;
  left: 50%;
  // opacity: 0;
  z-index: 1029;
  -webkit-transform: translateX(-50%);
  // -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);

  -webkit-animation: alert_animate 0.4s ease-in 0.2s both;
    //  -moz-animation: alert_animate 0.4s ease-in 0.2s both;
       -o-animation: alert_animate 0.4s ease-in 0.2s both;
          animation: alert_animate 0.4s ease-in 0.2s both;
  .close{
    margin-left: 20px;
    color: #fff;
    opacity: 1;
    font-weight: normal;
  }
}
// success
.alert-notice{
  background-color: #47B347;
}
// error
.alert-alert{
  background-color: #E24F35;
}

@-webkit-keyframes alert_animate {
  0% { top: 0; opacity: 0; }
  90% { top: 70px; opacity: 1; }
  100% {
    top: 60px;
    opacity: 1;
  }
}
@-moz-keyframes alert_animate {
  0% { top: 0; opacity: 0; }
  90% { top: 70px; opacity: 1; }
  100% {
    top: 60px;
    opacity: 1;
  }
}
@-o-keyframes alert_animate {
  0% { top: 0; opacity: 0; }
  90% { top: 70px; opacity: 1; }
  100% {
    top: 60px;
    opacity: 1;
  }
}
@keyframes alert_animate {
  0% { top: 0; opacity: 0; }
  90% { top: 70px; opacity: 1; }
  100% {
    top: 60px;
    opacity: 1;
  }
}
