// Owhat3.1
$container: 1200px;
$colorDefault: #4A4A4A;
$colorHighLight: #53E8E8;// 高亮（青色）
$colorHighLightR: #FF6B6B;// 高亮（红色）
$colorViRed: #FF753B;// LOGO色（红色）
$colorStar: #FFB200;//明星
$colorOrgan: #51DDDC;//娱乐机构
$colorExpert: #FF5990;//粉丝会

$colorGrayLight: #9B9B9B;//弱化文字
// Owhat3.1 ends

$colorYellow: #FFC900;
$colorYellowLight: #FFBF00; //普通用户
$colorBlue: #20DEFF;// 蓝色为娱乐机构
$colorPink: #FF5990;// 粉色为粉丝会
$colorRed: #FE4227;// 红色为普通用户等级显示
$colorBlueDark: #03bffd; // 发任务天蓝

$colorGray: #999999;
$colorGrey: #eeeeee;
$footerHeight: 40px;
